html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    size: inherit;
    overflow-x: hidden;
  }

h1{margin-top: 20px;
    height: 80px;
    background-color: teal;
    font-weight: 900;
    color: white;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 10px;
    border-radius: 50px; 

} 
#reg{
    margin-left: 650px;
   text-align: center;
   font-style: normal;
   color: rgb(248, 245, 245);
   background-color: darkcyan;
   width: max-content;
   padding: 0px 50px 0 50px;
   border-radius: 20px;
   font-weight: 700;
}
.sbm{
    display: flex;
    margin-top: 170px;
    margin-left: 17%;
    padding-top: 20px;
    padding-bottom: 200px;
    text-decoration: none;
    
}
#faculty{
    width: 500px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(243, 243, 243);
    text-align: center;
}
select{
    text-align: center;
    color: dimgray;
}
 select #faculty{
    text-align: center;
}
.fg{
   color: dimgray;
   display: block;
   margin: auto;
}
.gen{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 30px;

}
#smt{
    margin: 0%;
   background-color:  forestgreen;
    font-weight: 700;
}
#gender{width: 30px;

}

.admform{
    width: 55%;
    margin-left: 35%;
}
.id{
    
    margin-top: 50px;
}


.surname{
    
    margin-top: 50px;
    
}
input{ 
    font-weight: 500;
    font-size: 18px;
    background-color: whitesmoke;
    height: 50px;
    width: 500px;
    margin-top: 40px;
    border-radius: 20px;
    
}

button{margin-top: 50px;
    margin-left: 200px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    width: 200px;
    
}
body{
    background-attachment: 100%;
    background-image: url(../IMAGES/library3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    float: right;
    position: relative;
    right: 5%;
    
    
  }
  ul li{
    display: inline;
    list-style: none;
    margin-inline-start: 20px;
    font-weight: 900;
    font-size: 20px;
    
  }
  li a{
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
  }
 #serb{
     width: 500px;
 }
 .reg{
     margin-top: 100px;
     color: cornsilk;
     font-size: 25px;
     font-style: italic;
     text-decoration: none;
     text-align: center;
     font-weight: 700;


 }
 a{
     text-decoration: none;
     color: rgb(32, 10, 228);
 }
 
 .register{
     text-align: center;
 }
 
 .reg{
     color: tomato;
 }
 .form{
     margin: auto;
     display: block;
     
 }
 .rsfn{
     font-weight: 900;
 }
 .pro{
     width: max-content;
     margin: auto;
     display: block;
     
     
 }
 ::placeholder{
     font-weight: 900;
     text-align: center;
 }
 